@media (max-width: 500px) {
    body, .container {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    #body {
        background-image: url(./image/sunBg.13378c1945b2be657095.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw; 
    }

    [id^=myTable], #spa {
        font-size: 10px; /* Kept the smaller font size for detailed weather info */
        color: white;
        margin: 30px 5% 0; /* Adjusted to add margin to the sides */
    }

    .text1, .text2, .text3 {
        font-size: 14px; 
        color: white;
        font-weight: bold;
        margin: 100px 5% 0; 
        display: block; 
    }

    #ca {
        background-color: rgb(90, 103, 122);
        opacity: 0.7;
        width: 100%;
        height: auto; 
        margin: 0; 
        padding: 20px 0; 
    }

    #aa {
        width: auto;
        padding: 10px; 
        margin-top: 20px; 
    }

    #spa {
        font-size: 8px;
        position: static; 
        margin-top: 20px;
        display: block; 
        width: 100%; 
        text-align: center; 
    }
}
